@media (min-width: 768px) {
    .navbar-expand-md, .nav-item {
        padding-left: 5rem;
    }

    .nav-link {
        color: rgb(51, 51, 51) !important;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
    }
}